body {
  background-color: whitesmoke;
  text-align: center;
  font-size: xx-large;
  font: 1em sans-serif;
  width: auto;
}
button {
 size: 13cm;
 font-size: large;
 color: rgb(0, 2, 1);
 width: auto;
 font-style: italic;
 color-scheme: black;
}





