
<html>
<head>
<meta charset="utf-8">
<title> Wyszukiwarka</title>
</head>
<link rel="stylesheet" href="app.component.css">
<body>
  <script async src="https://cse.google.com/cse.js?cx=878e1498b3cba44e6"></script>

<font align="center" size=15 color=black><h1>Wyszukiwarka</h1></font>
<font align="center" ><input placeholder="Wpisz wyszukiwaną frazę..." type="text" size="50 "></font>
<button type=(click)button>Szukaj</button>

</body>
 <script src="C:\Users\ESM\Desktop\Wyszukiwarka-app\src\app\search\search.module.ts"></script>
<html>


